@charset "UTF-8";
/*! <-- обнуление css свойств */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*! обнуление css свойств --> */
/*!---------------------------------------------------------------*/
body {
  font-family: Myriad Pro;
  background-color: rgba(238, 210, 216, 0.3);
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1300px;
  padding: 0px 10px 0px 10px;
}

.page {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
}

.page .main-screen {
  background: url(../img/main/BG_01.jpg) center/cover no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.page .subscribe {
  background: url(../img/subscribe/BG.jpg) center/cover no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 30px 0px;
}

@media (min-width: 901px) and (max-height: 400px) {
  .main-screen {
    padding: 0px 0px 10px 0px;
  }
}

.main-screen__header {
  position: relative;
}

@media (min-width: 901px) and (max-height: 510px) {
  .main-screen__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
}

@media (min-width: 901px) and (max-height: 300px) {
  .main-screen__block {
    margin: 5px 0px 20px 0px;
  }
}

.main-screen__title {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 5.4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}

.main-screen__subtitle {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 2.4px;
  text-align: center;
  color: #fff;
  -webkit-transform: translate(-22px, 0);
          transform: translate(-22px, 0);
  margin: 0px 0px 20px 0px;
}

.main-screen__btn {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .main-screen__title {
    font-size: 30px;
    -webkit-transform: translate(-25px, 0);
            transform: translate(-25px, 0);
  }
  .main-screen__subtitle {
    font-size: 12px;
    margin: 0px 0px 10px 0px;
  }
}

@media (min-width: 901px) and (max-height: 510px) {
  .main-screen__title {
    font-size: 25px;
    line-height: 30px;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  .main-screen__subtitle {
    font-size: 12px;
    line-height: 15px;
    -webkit-transform: translate(-12px, 0);
            transform: translate(-12px, 0);
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 700px) {
  .main-screen__title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .main-screen__subtitle {
    font-size: 9px;
    line-height: 12px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin: 0px 0px 15px 0px;
  }
}

@media (max-height: 570px) and (max-width: 700px) {
  .main-screen__title {
    display: none;
  }
  .main-screen__subtitle {
    display: none;
  }
}

.main-screen__socnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-screen__socnet a {
  display: block;
  margin: 0 8px;
}

@media (min-width: 901px) and (max-height: 510px) {
  .main-screen__socnet {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
}

.header {
  width: 100%;
  height: 150px;
}

.header__menu {
  height: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100%;
  text-align: center;
}

.header__list li {
  padding: 0px 40px 0px 40px;
}

.header__list li:nth-child(2) {
  padding: 0px 136px 0px 40px;
}

.header__list li:nth-child(3) {
  padding: 0px 40px 0px 136px;
}

.header__link {
  font-size: 16px;
  letter-spacing: 2.4px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
  .header {
    height: 100px;
  }
  .header__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .header__list li:nth-child(n) {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 530px) {
  .header__list {
    overflow: visible;
    padding: 90px 0px 0px 0px;
  }
  .header__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    line-height: 2.5;
  }
}

@media (max-width: 530px) and (max-height: 500px) {
  .header__list {
    overflow: hidden;
    padding: 0px 0px 0px 0px;
  }
  .header__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.btn {
  font-size: 12px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  display: block;
  max-width: 200px;
  max-height: 50px;
  border-radius: 3px;
  background-color: #16a085;
  border: 1px solid #16a085;
  padding: 20px 65px 20px 30px;
}

.section {
  background-color: #f5f6f7;
}

.section__container {
  max-width: 1100px;
  padding: 0px 40px 0px 40px;
  margin: 0 auto;
}

@media (max-width: 915px) {
  .section__container {
    max-width: 800px;
  }
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 100%;
}

@media (max-width: 915px) {
  .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1050px) {
  .section__content {
    padding: 70px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .section__content {
    padding: 45px 0px 0px 0px;
  }
}

.started {
  padding: 90px 0px 0px 0px;
}

.started__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 61.65854%;
          flex: 1 1 61.65854%;
}

.started__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.block {
  padding: 0px 20px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.46341%;
          flex: 0 0 37.46341%;
}

.block__title {
  margin: 0px 0px 45px 0px;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #16a085;
  text-transform: uppercase;
}

.block__text {
  margin: 0px 0px 40px 0px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.8px;
  color: #373737;
}

@media (max-width: 1050px) {
  .block__title {
    margin: 0px 0px 25px 0px;
  }
  .block__text {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 1000px) {
  .block__title {
    font-size: 16px;
  }
  .block__text {
    font-size: 10px;
  }
}

@media (max-width: 915px) {
  .block {
    margin: 0 auto;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 0px 0px 50px 0px;
  }
  .block__title {
    margin: 0px 0px 45px 0px;
    font-size: 18px;
    text-align: center;
  }
  .block__text {
    margin: 0px 0px 40px 0px;
    font-size: 12px;
    text-align: justify;
  }
  .block__btn {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .block__title {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 364px) {
  .block {
    padding: 0px 0px 30px 0px;
  }
  .block__title {
    font-size: 15px;
  }
  .block__text {
    font-size: 10px;
    margin: 0px 0px 20px 0px;
  }
}

.section_white {
  background-color: #fff;
}

.design {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 145px 0px 0px 0px;
}

@media (max-width: 915px) {
  .design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 90px 0px 0px 0px;
  }
  .design__photo {
    margin: 0 auto;
    max-width: 312px;
  }
  .design__photo img {
    width: 100%;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 0px 0px 0px;
}

.slide span {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 1.8px;
  color: #373737;
}

.slide__arrow {
  padding: 5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__left {
  width: 12px;
  height: 12px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0px 10px 0px 0px;
}

.slide__right {
  width: 12px;
  height: 12px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin: 0px 0px 0px 10px;
}

@media (max-width: 915px) {
  .slide {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide span {
    font-size: 16px;
  }
  .slide__left {
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 0px;
  }
  .slide__right {
    width: 16px;
    height: 16px;
    margin: 0px 0px 0px 10px;
  }
}

.community {
  padding: 120px 0px 120px 0px;
}

@media (max-width: 915px) {
  .community {
    padding: 90px 0px 90px 0px;
  }
}

.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 915px) {
  .item {
    margin: 0px 0px 40px 0px;
  }
}

.item__logo {
  margin: 0px 0px 32px 0px;
}

.item__logo img {
  display: block;
  margin: 0 auto;
}

.item__title {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 2.4px;
  text-align: center;
  color: #373737;
  text-transform: uppercase;
  margin: 0px 0px 17px 0px;
}

.item__text {
  margin: 0 auto;
  max-width: 155px;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-align: justify;
  color: #373737;
}

.slider__slide {
  padding: 0 12px;
}

@media (max-width: 915px) {
  .slider__slide {
    margin: 0px 0px 40px 0px;
  }
}

.slider .slide__arrow_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.slider .slide__arrow_right a {
  margin: 0 4px;
}

.slider__twine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 680px) {
  .slider__twine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider__photo {
  margin: -12px;
}

.slider__photo img {
  max-width: 100%;
  padding: 24px;
}

@media (max-width: 680px) {
  .slider__photo {
    margin: 0 auto;
  }
}

.subscribe {
  position: relative;
}

.subscribe__block-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.block-form__title {
  margin: 0 0 34px 0;
  font-size: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.block-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-form__input input {
  width: 280px;
  height: 60px;
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  letter-spacing: 2.4px;
  color: #373737;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .block-form__input input {
    width: 180px;
  }
}

@media (max-width: 400px) {
  .block-form__input {
    width: 180px;
  }
}

.block-form__check {
  padding: 20px;
  background-color: #16a085;
}

.section__download {
  padding: 100px 60px 100px 60px;
  width: 100%;
}

.download {
  max-width: 850px;
  margin: 0 auto;
}

.download__title {
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: #373737;
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}

.download__text {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 1.8px;
  text-align: center;
  color: #373737;
  text-transform: uppercase;
  margin: 0 0 45px 0;
}

.download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  margin: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__btn {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-align: left;
  color: #fff;
  width: 240px;
  height: 56px;
  padding: 20px 0px 0px 24px;
  background-color: #1abc9c;
}

.button__icon {
  width: 56px;
  height: 56px;
  padding: 16px 18px 16px 17px;
  background-color: #16a085;
}
