/*! <-- обнуление css свойств */
*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}
/*! обнуление css свойств --> */
/*!---------------------------------------------------------------*/

body {
	font-family: "Lato", sans-serif;
}
/* Оболочка---------------------------------------------------------------*/
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
/* ---------------------------------------------------------------Оболочка*/
/* Контейнер--------------------------------------------------------------*/
.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 15px;
}
/* --------------------------------------------------------------Контейнер*/
/*! Основной блок---------------------------------------------------------*/
/*-!Фулл скрин----------------------------------------------------------*/
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	font-size: 0;
	flex-direction: column;
}
/*-------------------------------------------------------Фулл скрин*/

/*-Главный экран-------------------------------------------------------*/
.main-screen {
	background: url(../img/header/bg.png) center / cover no-repeat;

	flex: 1 0 100%;			/*-!Фулл скрин*/
	position: relative;
}
/*-Меню навигации---------------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 35px;
}
.header__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
}
.header__menu {

}
.menu {
}
.menu__list {
	display: flex;
}
@media (max-width: 767px) {
	.menu__list {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 150px 0px 0px 0px;
		overflow:  auto;
	}
}
.menu__list li {
	padding: 0px 37.5px 0px 37.5px;

	position: relative;
}
.menu__list li::after {
	content: "";

	width: 2px;
	height: 2px;
	background-color: #4d4a59;
	border-radius: 50%;

	position: absolute;
	right: 0;
	top: 50%;
	margin: -1px 0px 0px 0px;
}
.menu__list li:nth-child(2) {
	padding: 0px 110px 0px 37.5px;
}
.menu__list li:nth-child(2)::after, .menu__list li:last-child::after {
	display: none;
}
.menu__list li:nth-child(3) {
	padding: 0px 37.5px 0px 110px;
}
@media (max-width: 767px) {
	.menu__list li, .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
		padding: 0 0 45px 0;
	}
	.menu__list li:last-child {
		padding: 0;
	}
	.menu__list li::after, .menu__list li:nth-child(2)::after {
		content: "";
		display:block;
		width: 4px;
		height: 4px;
		background-color: black;
		border-radius: 50%;
	
		position: absolute;
		right: 50%;
		top: 60%;
		margin: 0px -2px 0px 0px;
	}
	.menu__list li:last-child::after {
		display: none;
	}
}
.menu__link {
  font-size: 13px;
  font-weight: bold;
	text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #4d4a59;
}
@media (max-width: 767px) {
	.menu__link {
		font-size: 20px;
		color: black;
	}
}
.header__logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
}
/*-------------------------------------------------------Меню навигации*/
/*-------------------------------------------------------Главный экран*/

/*-Основной блок----------------------------------------------------------*/
.content {

}
/*-Секция "New Generation--------------------------------------------------*/
.section {
	padding: 120px 0px 120px 0px;
	background-color: #f7f7f7;
}
@media (max-width: 900px) {
	.section {
		padding: 80px 0px 80px 0px;
	}
}
@media (max-width: 600px) {
	.section {
		padding: 60px 0px 60px 0px;
	}
}

.section__block {

}
/*-Блок----------------------------------------------------------*/
.block {
	text-align: center;

	font-size: 18px;
}
.block__icon {
	margin: 0px 0px 35px 0px;
}
.block__title {
  font-weight: bold;
  letter-spacing: 3.6px;
  color: #38393b;
	line-height: 24px;
	text-transform: uppercase;

	margin: 0px 0px 17px 0px;
}
.block__text {
  line-height: 1.89;
  color: #848688;
}
/*-------------------------------------------------------Блок*/
/*-------------------------------------Секция "New Generation*/

/*-Секция "Work"-------------------------------------------------*/
.brands {
}

.brands__row {
	display: flex;
}
.brands__row_rev {
	flex-direction: row-reverse;
}
.brands__column {
	flex: 0 1 33.333%;
}
.brands__column_m {
	background: url(../img/work/middle-01.jpg) center / cover no-repeat;
}
.brands__column_m2 {
	background: url(../img/work/middle-02.jpg) center / cover no-repeat;
}
.brands__column_b {
	background: url(../img/work/big-01.jpg) center / cover no-repeat;
	flex: 0 1 66.667%;
}
.brands__column_b_rev {
	background: url(../img/work/big-02.jpg) center / cover no-repeat;
}

.brands__item {
}
.item {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(134, 193, 158, 0.5);
	opacity: 0;
	transition: 0.5s;
}
.item:hover {
	opacity: 1;
}

.item__logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.brands__content {
	padding: 70px 65px 90px 65px;
	position: relative;
}
.brands__content::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin: 0px 0px 0px -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
}
.block__text_j {
	font-size: 16px;
  line-height: 1.88;
  text-align: justify;
  color: #848688;
}
.block__text_j::after{
	content: '';

	width: 50px;
	height: 1px;
	background-color: #d8d9d9;

	margin: 40px auto 0 auto;
	display: block;
}

.brands__image {
	background: url(../img/work/min-01.jpg) center / cover no-repeat;
	padding: 0px 0px 37.502% 0px;
}
.brands__image_rev {
	background: url(../img/work/min-02.jpg) center / cover no-repeat;
}
.brands__image_m {
	background: url(../img/work/min-03.jpg) center / cover no-repeat;
}

@media (max-width: 1500px) {
	.brands__content {
		padding: 50px 35px 50px 35px;
	}
}
@media (max-width: 1100px) {
	.brands__row {
		flex-direction: column;
	}
}
@media (max-width: 1100px) {
	.item {
		height: auto;
		padding: 0px 0px 50% 0px;
	}
}
/*-------------------------------------------------Секция "Work"*/

/*---------------------------------------------Основной блок*/