.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	.main-screen {
		flex: 1 0 100%;
		background: url(../img/main/BG_01.jpg) center / cover no-repeat;
	}
}


