@import "nullstyle.scss";
@import "mixins.scss";

body {
	font-family: Myriad Pro;
	background-color: rgba(238, 210, 216, 0.3);;
}
.wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.container {
	max-width: 1300px; 
	padding: 0px 10px 0px 10px;
}

// создание фуллскринового главного экрана страницы:
.page {
	@include centrgorabs;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	min-height: 300px;
	.main-screen {
		background: url(../img/main/BG_01.jpg) center / cover no-repeat;
		flex: 1 0 100%;
	}
	.subscribe {
		background: url(../img/subscribe/BG.jpg) center / cover no-repeat;
		flex: 1 0 100%;
	}
}

.main-screen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 0px 30px 0px;
	// уменьшить нижний отступ при ширине > 900 и высоте < 400
	@media (min-width: 901px) and (max-height: 400px) {
		padding: 0px 0px 10px 0px;
	}
		// .main-screen__header
		&__header {
			position: relative;
		}

		// .main-screen__block
		&__block {
			@media (min-width: 901px) and (max-height: 510px) {
				flex: 1 1 40%;
				transform: translate(0, 50%);
			}
			@media (min-width: 901px) and (max-height: 300px) {
				margin: 5px 0px 20px 0px;
			}
		}
		// .main-screen__title
		&__title {
			font-size: 36px;
			line-height: 50px;
			letter-spacing: 5.4px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			transform: translate(-50px, 0);
		}
		// .main-screen__subtitle
		&__subtitle {
			font-size: 16px;
			line-height: 25px;
			letter-spacing: 2.4px;
			text-align: center;
			color: #fff;
			transform: translate(-22px, 0);
			margin: 0px 0px 20px 0px;
		}
		// .main-screen__btn
		&__btn {
			margin: 0 auto;
		}
		@media (max-width: 900px) {
			&__title {
				font-size: 30px;
				transform: translate(-25px, 0);
			}
			&__subtitle {
				font-size: 12px;
				margin: 0px 0px 10px 0px;
			}
		}
		@media (min-width: 901px) and (max-height: 510px) {
			&__title {
				font-size: 25px;
				line-height: 30px;
				transform: translate(-20px, 0);
			}
			&__subtitle {
				font-size: 12px;
				line-height: 15px;
				transform: translate(-12px, 0);
				margin: 0px 0px 15px 0px;
			}
		}
		@media (max-width: 700px) {
			&__title {
				font-size: 20px;
				line-height: 25px;
				text-align: center;
				transform: translate(0, 0);
			}
			&__subtitle {
				font-size: 9px;
				line-height: 12px;
				transform: translate(0, 0);
				margin: 0px 0px 15px 0px;
			}
		}
		@media (max-height: 570px) and (max-width: 700px) {
			&__title {
				display: none;
			}
			&__subtitle {
				display: none;
			}
		}
		// .main-screen__socnet
		&__socnet {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			a {
				display: block;
				margin: 0 8px;
			}
			@media (min-width: 901px) and (max-height: 510px) {
				flex: 1 0 30%;
			}
		}
}

.header {
	width: 100%;
	height: 150px;
		// .header__menu
		&__menu {
			height: 100%;
		}
		// .header__list
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			height: 100%;
			text-align: center;
			li {
				padding: 0px 40px 0px 40px;
				&:nth-child(2){
					padding: 0px 136px 0px 40px;
				}
				&:nth-child(3){
					padding: 0px 40px 0px 136px;
				}
			}
		}
		// .header__link
		&__link {
			font-size: 16px;
			letter-spacing: 2.4px;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
		}
		// .header__logo
		&__logo {
			@include centrabs();
		}
		@media (max-width: 900px) {
			height: 100px;
			&__list {
				flex-wrap: wrap;
			}
			&__list li {
				flex: 1 1 50%;
				&:nth-child(n) {
					padding: 0px 0px 0px 0px;
				}
			}
		}
		@media (max-width: 530px) {
			&__list {
				overflow: visible;
				padding: 90px 0px 0px 0px;
			}
			&__list li {
				flex: 1 1 100%;
				line-height: 2.5;
			}
		}
		@media (max-width: 530px) and (max-height: 500px) {
			&__list {
				overflow: hidden;
				padding: 0px 0px 0px 0px;
			}
			&__list li {
				flex: 1 1 50%;
			}
		}
}

.btn {
	font-size: 12px;
  letter-spacing: 1.8px;
  text-align: left;
  color: #fff;
	text-transform: uppercase;

	display: block;
	max-width: 200px;
	max-height: 50px;
	border-radius: 3px;
  background-color: #16a085;
	border: 1px solid #16a085;
	padding: 20px 65px 20px 30px;
}
//==================================================
//==================================================
.section {
	background-color: #f5f6f7;
		// .section__container

		&__container {
			max-width: 1100px;
			padding: 0px 40px 0px 40px;
			margin: 0 auto;
			@media (max-width: 915px) {
				max-width: 800px;
			}

		}

		// .section__started

		&__content {
			display: flex;
			font-size: 0;
			width: 100%;
			@media (max-width: 915px) {
				flex-direction: column;
			}
			@media (max-width: 1050px) {
				padding: 70px 0px 0px 0px;
			}
			@media (max-width: 500px) {
				padding: 45px 0px 0px 0px;
			}
		}
}
//==================================================
//started
//==================================================
.started {
	padding: 90px 0px 0px 0px;

		// .started__block

		&__block {
		}

		// .started__photo

		&__photo {
			flex: 1 1 632px / 1025px *100%;
			& img {
				width: 100%;
				height: 100%;
				object-fit:contain;
			}
		}
		
}
.block {
	padding: 0px 20px 0px 0px;
	flex: 0 0 384px / 1025px *100%;
		// .block__title

		&__title {
  		margin: 0px 0px 45px 0px;
  		font-size: 18px;
  		letter-spacing: 2.7px;
  		color: #16a085;
			text-transform: uppercase;
		}

		// .block__text

		&__text {
			margin: 0px 0px 40px 0px;
			font-size: 12px;
			line-height: 2;
			letter-spacing: 1.8px;
			color: #373737;
		}

		// .block__btn

		&__btn {
		}
		
		@media (max-width: 1050px) {
			&__title {
				margin: 0px 0px 25px 0px;
			}
			&__text {
				margin: 0px 0px 15px 0px;
			}
		}
		@media (max-width: 1000px) {
			&__title {
				font-size: 16px;
			}
			&__text  {
				font-size: 10px;
			}
		}
		@media (max-width: 915px) {
			margin: 0 auto;
			padding: 0;
			flex: 1 1 50%;
			padding: 0px 0px 50px 0px;
			&__title {
				margin: 0px 0px 45px 0px;
				font-size: 18px;
				text-align: center;
			}
			&__text {
				margin: 0px 0px 40px 0px;
				font-size: 12px;
				text-align: justify;
			}
			&__btn {
				margin: 0 auto;
			}
		}
		@media (max-width: 500px) {
			&__title {
				margin: 0px 0px 25px 0px;
			}
		}
		@media (max-width: 364px) {
			padding: 0px 0px 30px 0px;
			&__title {
				font-size: 15px;
			}
			&__text {
				font-size: 10px;
				margin: 0px 0px 20px 0px;
			}
		}
}
//==================================================
//==================================================
.section_white {
	background-color: #fff;
}
//==================================================
//design
//==================================================
.design {
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: 145px 0px 0px 0px;
	&__block {

	}
	@media (max-width: 915px) {
		flex-direction: column;
		padding: 90px 0px 0px 0px;
		&__photo {
			margin: 0 auto;
			max-width: 312px;
			& img {
				width: 100%;
			}
		}
	}
}

.slide {
	display: flex;
	flex-direction: column;
	padding: 45px 0px 0px 0px;
	& span {
		font-size: 12px;
		line-height: 1.83;
		letter-spacing: 1.8px;
		color: #373737;
	}
	// .slide__arrow

	&__arrow {
		padding: 5px 0px 0px 0px;
		display: flex;
		& a {
		}
	}

	// .slide__left

	&__left {
		width: 12px;
		height: 12px;
		border-top: 3px solid #000;
		border-left: 3px solid #000;
		transform: rotate(-45deg);
		margin: 0px 10px 0px 0px;
	}

	// .slide__right

	&__right {
		width: 12px;
		height: 12px;
		border-top: 3px solid #000;
		border-left: 3px solid #000;
		transform: rotate(135deg);
		margin: 0px 0px 0px 10px;
	}

	@media (max-width: 915px) {
		align-items: center;
		& span {
			font-size: 16px;
		}
		&__left {
			width: 16px;
			height: 16px;
			margin: 0px 10px 0px 0px;
		}
		&__right {
			width: 16px;
			height: 16px;
			margin: 0px 0px 0px 10px;
		}
	}
}
//==================================================
//community
//==================================================
.community {
	padding: 120px 0px 120px 0px;
	@media (max-width: 915px) {
		padding: 90px 0px 90px 0px;
	}
	// .community__item

	&__item {
	}

	// .community__slider

	&__slider {
	}
}
.item {
	flex: 0 0 25%;
	align-self: center;
	@media (max-width: 915px) {
		margin: 0px 0px 40px 0px;
	}
	// .item__logo

	&__logo {
		margin: 0px 0px 32px 0px;
		& img {
			display: block;
			margin: 0 auto;
		}
	}

	// .item__title

	&__title {
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 2.4px;
		text-align: center;
		color: #373737;
		text-transform: uppercase;
		margin: 0px 0px 17px 0px;
	}

	// .item__text

	&__text {
		margin: 0 auto;
		max-width: 155px;
		font-size: 10px;
		letter-spacing: 1.5px;
		text-align: justify;
		color: #373737;
	}
}
.slider {
	
	// .slider__slide

	&__slide {
		padding: 0 12px;
		@media (max-width: 915px) {
			margin: 0px 0px 40px 0px;
		}
	}

.slide__arrow_right {
	justify-content: end;
	& a {
		margin: 0 4px;
	}
}
	// .slider__twine

	&__twine {
		display: flex;
		@media (max-width: 680px) {
			flex-direction: column;
		}
	}

	// .slider__photo

	&__photo {
		margin: -12px;
		& img {
			max-width: 100%;
			padding: 24px;
		}
		@media (max-width: 680px) {
			margin: 0 auto;
		}
	}
}
//==================================================
//subscribe
//==================================================
.subscribe {
	position: relative;

	// .subscribe__block-form

	&__block-form {
		@include centrabs;
	}
}
.block-form {
	// .block-form__title

	&__title {
		margin: 0 0 34px 0;
		font-size: 24px;
		letter-spacing: 3.6px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
	}

	// .block-form__email

	&__email {

	}
	&__input {
		input {
			width: 280px;
			height: 60px;
			padding: 0px 0px 0px 20px;
			font-size: 16px;
			letter-spacing: 2.4px;
			color: #373737;
			text-transform: uppercase;
			@media (max-width: 400px) {
				width: 180px;
			}
		}
		display: flex;
		justify-content: center;
		@media (max-width: 400px) {
			width: 180px;
		}
	}

	&__check {
		padding: 20px;
		background-color: #16a085;
	}
}
//==================================================
//__download
//==================================================
.section {
	&__download {
		padding: 100px 60px 100px 60px;
		width: 100%;
	}
}

.download {
	max-width: 850px;
	margin: 0 auto;
	// .download__title

	&__title {
		font-size: 20px;
		letter-spacing: 3px;
		text-align: center;
		color: #373737;
		text-transform: uppercase;
		margin: 0px 0px 15px 0px;
	}

	// .download__text

	&__text {
		font-size: 12px;
		line-height: 1.83;
		letter-spacing: 1.8px;
		text-align: center;
		color: #373737;
		text-transform: uppercase;
		margin: 0 0 45px 0;
	}

	// .download__buttons

	&__buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	// .download__button

	&__button {
	}
}

.button {
	margin: 13px;
	display: flex;
	// .button__btn

	&__btn {
		display: block;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 2.4px;
		text-align: left;
		color: #fff;
		width: 240px;
		height: 56px;
		padding: 20px 0px 0px 24px;
		background-color: #1abc9c;
	}

	// .button__icon

	&__icon {
		width: 56px;
		height: 56px;
		padding: 16px 18px 16px 17px;
		background-color: #16a085;
	}
}

